@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-gray-100 font-sans select-none overflow-x-hidden;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #0d0d0e;
}
::-webkit-scrollbar-thumb {
  background: #24262a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FFE600;
}